html(lang="ru")
  head
    meta(charset="UTF-8")
    title ООО ТЕХДОРИНВЕСТ - СТРОИТЕЛЬСТВО И ОСБСЛУЖИВАНИЕ ДОРОГ
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="img/autoright.png")
    link(rel="stylesheet", href="../../../css/libs.min.css")
    link(rel="stylesheet", href="../../../css/main.css")
  body.body
    .wrapper
      include ../catalog-blocks/header
      .fundaments.fundaments_wrap.section.section-margin
        .container.catalog-cont 
          .row.catalog-title_cont
            .col-xs-12
              h1.catalog_title Фундаменты
              p.catalog_desc Металлические фундаменты (закладные детали фундаментов) для осветительных опор силовых и не силовых являются неотьемлемой частью опоры и основной несущей конструкцией, которая передает нагрузку от опоры на грунтовое основание. Фланцевые опоры устанавливаются на железобетонный фундамент с помощью фланцевого крепления болтами или шпильками к металлической закладной детали фундамента. От качественных показателей несущей конструкции зависит, насколько долговечной и выносливой будет опора. Компания ООО "Дорожные Системы" уже не первый год специализируется на выпуске металлоконструкций различных конфигураций. Целесообразность использования той либо иной закладной детали фундамента зависит от климатического региона, в котором вы организовываете наружное освещение, и особенности грунта, ведь именно в нем установлены будут фундаменты несущих конструкций. У нас вы можете приобрести закладную деталь нужного типа. Тип, габариты, мощность (несущая способность) фундаментов опор рассчитывается в каждом конкретном случае.
          .row.catalog-goods_cont
            .col-xs-12
              - var dor_2 = [{desc: 'Фундамент металлический для не силовых опор 4 отверстия'},{desc:'Фундамент металлический для силовых опор 6,8 и 12 отверстий.'}]
              .row
                each val, index in dor_2
                  .col-lg-3.col-xs-12.catalog-card_wrap
                    .card.catalog-card
                      .card-body.catalog-card_body-cont 
                        img.catalog-card_img(src=`../../../img/catalog/fundaments/${index + 1}.jpg`)
                      .card-footer.catalog-card_footer-cont= `${val.desc}`
    script(src="../../../js/libs.min.js") 
    script(src="../../../js/bundle.js")