@import "../misc/functions";
@import "../misc/media";
@import "../misc/mixins";
@import "../misc/variables";

.catalog {
  &-btn {
    background-color: $green;
    margin-bottom: rem(10px);
    &:hover {
      background-color: $darkgreen;
    }
    &_link {
      font-family: $russo;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      white-space: pre-wrap;
      width: 100%;
      height: 100%;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &_cont {
      @include flex();
    }
  }
  &-goods_cont {
    display: flex;
    justify-content: center;
  }
  &-title {
    &_cont h1{
      text-align: center;
    }
    &_cont {
      @include flex();
    }
    &_h5 {
      text-align: center;
    }
  }
  &_desc {

  }
}