@import "../misc/functions";
@import "../misc/media";
@import "../misc/mixins";
@import "../misc/variables";

.contacts-bold_item {
    color: $darkgreen;
    font-family: $russo;
    text-transform: uppercase;
    & a {
      color: $darkgreen!important;
    }
}

.contacts {
  &-img {
    width: 100%;
    object-fit: cover;
    @include laptop {
      margin-bottom: rem(30px);
      min-height: rem(300px);
    }
  }
  &-title_cont {
    @include flex();
  }
  &-title_second {
    text-align: center;
  }
  &-item > a {
    color: inherit;
  }
  &-item {
    @include laptop {
      
    }
  }
}