
@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.features {
  &-title {
    color: $white;
    padding: $padding15;
    margin: $margin15;
    font-family: $rob;
    text-transform: uppercase;
    &-min {
      font-family: $rob;
    }
  }
  &-img--left {
    position: absolute;
    left: -57%;
    top: 10%;
    z-index: 2;
    @include laptop {
      display: none;
    }
  }
  &-wrapper {
    position: relative;
    & h3 {
      font-family: $rob;
    }
  }
  &-cont {
    background: linear-gradient(90deg, $orange 50%, $black 50%);
    min-height: 650px;
    @include tablets {
      background: linear-gradient(180deg, $orange 50%, $black 50%);
    }
    @include phones {
      background: linear-gradient(180deg, $orange 0%, $orange 43%, $black 43%);
    }
    @include phones-min {
      background: linear-gradient(180deg, $orange 0%, $orange 45%, $black 45%);
    }


  }
  &-right {
    color: $white;
    @include phones {
      margin-top: 15px;
    }
    &__list {
      border-radius: rem(3px);
      position: relative;
      & > li {
        display: flex;
      }
      &-icon {
        color: $orange;
        font-size: 45px;
        @include tablets {
          position: absolute;
          left: -9%;
        }
        @include phones {
          font-size: 35px;
          left: -50px;
        }
        @include phones-min {
          font-size: 25px;
          left: -40px;
        }
      }
    }
    &__cont > p {
      @include phones-min {
        margin-bottom: 20px;
      }
    }
  }
  &-left {
    min-height: 100%;
    position: relative;
    margin-bottom: 50px;
    @include phones {
      margin-bottom: 0;
      margin-top: -10px;
    }
  }
  &-list {
    width: 100%;
    margin-left: auto;
    color: $white;
    position: relative;

    @include phones {
      margin-top: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $white;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      @include tablets {
        display: none;
      }
    }
    &__item {
      position: relative;
      width: 50%;
      z-index: 1;
      padding: 0 $padding20;
      @include tablets {
        width: 100%;
        margin-bottom: 30px;
      }
      & > p {
        margin-bottom: 0;
        padding: 3px;

      }
      & > h3 {
        font-weight: bold;
      }
      &-icon {
        background-color: $orange;
        position: absolute;
        border-radius: 50%;
        width: 50px;
        font-size: 45px;
        @include phones {
          font-size: 35px;
        }
        @include phones-min {
          font-size: 25px;
          background-color: transparent;
        }
        &--1 {
          top: 50%;
          right: -6%;
          transform: translateY(-50%);
          @include tablets {
            left: -8%;
          }
          @include phones {
            left: -7%;
          }
          @include phones-min {
            left: -25px;
          }
        }
        &--2 {
          top: 50%;
          left: -11%;
          transform: translateY(-50%);
          @include tablets {
            left: -8%;
          }
          @include phones {
            left: -6%;
          }
          @include phones-min {
            left: -25px;
          }
        }
        &--3 {
          top: 50%;
          right: -8%;
          transform: translateY(-50%);
          @include tablets {
            left: -7%;
          }
          @include phones {
            left: -6%;
          }
          @include phones-min {
            left: -25px;
          }
        }
      }
      &--1 {
        margin-right: auto;
        position: relative;
      }
      &--2 {
        margin-left: auto;
        position: relative;
        @include tablets {
          text-align: left!important;
        }
      }
      &--3 {
        margin-right: auto;
        position: relative;
      }
    }
  }
}