
@import "../misc/functions";
@import "../misc/media";
@import "../misc/mixins";
@import "../misc/variables";

.title-keywords {
  position: absolute;
  top: -300vh;
  left: -300vw;
}

.privacy {
  padding: $padding10;
  background-color: $white;
  border-radius: rem(2px);
  &-cont {
    color: $black;
    position: absolute;
    top: 75%;
    left: 0;
    font-size: rem(10px);
    z-index: 100;
    display: none;
    @include desktop {
      top: 79%;
    }
  }
}

.header-second {
  background-image: url("../img/background-min.jpg");
  min-height: 650px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  &__row {
    min-height: 650px;
  }
  &__title {
    padding: 35px;
    font-family: $rob;
    color: $white;
    @include laptop {
      padding: $padding15;
    }
  }
  &__btn {
    text-transform: uppercase;
    padding: $padding10;
    background-color: $orange;
    clip-path: $btnclip;
    padding: $padding10 $padding20;
    cursor: initial;
  }
  &__btn-cont {
    padding: 25px;
    color: $white;
    opacity: 1;
    transition: all .3s;
  }
  &__container--left {

    min-height: 100%;
    padding: 45px;
    position: relative;
    transition: all .7s ease-in-out;
    left: -800px;
    will-change: left;
    // animation: btnsShow .7s ease-in-out forwards;
    // animation in btnFadeIn JS
    @include tablets {
      display: none;
    }
  }
  &__container--right {
  padding: 0;
  background-color: $blackT;
  min-height: 100%;
  }
  &__form {
    text-transform: uppercase;
    padding: rem(40px);
    color: $white;
    background-color: $blackTT;
    border-radius: rem(10px);
    @include phones-min {
      margin-bottom: 30px;
      padding: 15px;
    }
    &-fieldset {
      position: relative;
    }
    &-legend {
      margin-bottom: $margin15;
      font-family: $rob;
    }
    &-checkbox {
      cursor: pointer;
      margin-right: 10px;
      margin-top: 5px;
    }
    &-checklbl {
      color: $gray;
    }
    &-privacy {
      border-bottom: 1px solid $gray;
      cursor: help;
      color: $gray;
      margin-left: rem(3px);
    }
    &-lbl {
      white-space: nowrap;
      position: relative;
      cursor: pointer;
      transition: all .3s;
      &:after {
        transition: all .3s;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 70%;
        height: 2px;
        background-color: $white;
        @include phones-min {
          display: none;
        }
      }
    }
    &-btn {
      background-color: $orange;
      color: $white;
      text-transform: uppercase;
      font-family: $rob;
      margin: $margin10;
      cursor: pointer;
      &:hover {
        background-color: darken($orange, 8%);
      }
    }
  }
  &__input-text:focus {
    outline: none;
    border: 1px solid $orange;
  }
}

