@import "../misc/functions";
@import "../misc/media";
@import "../misc/mixins";
@import "../misc/variables";

.header {
    &-container {

    }
    &-wrap {
        background: url('../../img/bg/header-bg2.jpg') center center;
        width: 100%;
        height: 100%;
        color: $white;
        position: relative;
    }
    &-title {
        position: absolute;
        height: 100px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        border-bottom: 4px solid $green;
        padding-bottom: rem(20px);
    }
    &-goods {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
}
