@import "../misc/variables";
@import "../misc/functions";
@import "../misc/mixins";
@import "../misc/media";

.ourcustomers {
  min-height: 650px;
  color: $white;
  background-color: $orange;
  &-title {
    font-family: $rob;
    text-transform: uppercase;
    padding: $padding10;
    margin: $margin15;
  }
  &-slider {
    overflow: hidden;
    max-height: 350px;
    &__wrap {
      position: relative;
    }
    &__cont{
      border: 3px solid $white;
      border-radius: rem(5px);
      padding: $padding15;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      background-color: $white;
      margin-top: 50px;
      margin-bottom: 50px;
      @include tablets {
        margin-top: 10px;
      }
    }
  }
  &-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    color: $white;
    background-color: lighten($orange, 10%);
    &:focus {
      outline: none;
    }
    & > i {
      font-size: 20px;
    }
  }
  &-arrow__right {
    right: -20px;
  }
  &-arrow__left {
    opacity: .2;
    left: -20px;

  }
  &-items {
    position: relative;
    will-change: right;
    transition: right .6s;
  }
  &-item {
    width: 700px;
    @include laptop {
      width: 575px;
    }
    @include tablets {
      width: 645px;
    }
    @include phones {
      width: 465px;
    }
    @include phones-min {
      width: 215px;
    }
  }
}

.slider {
  &-title {
    font-weight: bold;
  }
  &-text {
    font-weight: normal;
  }
  &-desc__cont {
    @include tablets {
      margin-top: $margin15;
    }
  }
}