.nav.col-xs-6
  .container-fluid.nav-main_cont
    .row
      .col-lg-12
        nav.nav-main
          ul.nav-main_list
            li.nav-main_item
              a.nav-main_link.active(href='../index.html') Главная
            li.nav-main_item
              a.nav-main_link(href='../pages/about.html') О компании
            li.nav-main_item
              a.nav-main_link(href='../pages/news.html') Новости 
            li.nav-main_item
              a.nav-main_link(href='../pages/catalog.html') Каталог
            li.nav-main_item
              a.nav-main_link(href='../pages/docs.html') Документы
            li.nav-main_item
              a.nav-main_link(href='../pages/contacts.html') Контакты