.container-fluid.features-cont(id="features")
  .container.features-wrapper
    img.features-img--left.img-fluid(src="img/car1-min.png" alt="car 1")
    .row
      .col-lg-12.text-center
        h2.features-title как работаем?
      .col-lg-6.features-left 
        .features-list__cont.d-flex
          ul.features-list
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--1
                h3 Заявка
                p Напишите или позвоните нам, любым удобным способом. Менеджер свяжется с Вами, уточнит детали, приедет в удобное для Вас время для подписания договора.
                .features-list__item-icon.features-list__item-icon--1
                  i(class="icon-handshake-o")
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--2.text-right
                h3 Поиск авто
                p Подбираем автомобиль по Вашим параметрам. После осмотра, фотографии лучших вариантов отправим Вам на рассмотрение.
                .features-list__item-icon.features-list__item-icon--2
                  i(class="icon-search")
            li.features-list__li.d-flex.flex-column
              .features-list__item.features-list__item--3
                h3 Покупка
                p Встречаемся у выбранного автомобиля. Эксперт расскажет о автомобиле, и предоставит диагностический лист с результатами осмотра и рекомендациями. Вы принимаете решение о покупке.
                .features-list__item-icon.features-list__item-icon--3
                  i(class="icon-cab")
      .col-lg-6.features-right
        .col-lg-12
          ul.features-right__list
            li 
              .features-right__list-icon
                i(class="icon-ok")
              .features-right__cont
                h3 Экономьте время
                p Вместо многих дней поисков автомобиля,  потратьте не более 2 часов своего времени, и всю работу мы сделаем за Вас.
            li
              .features-right__list-icon
                i(class="icon-ok")
              .features-right__cont
                h3 Освободите себя от утомительных поездок
                p Вам не надо тратить время и силы на осмотры автомобилей, которые не стоят своих денег. По нашей статистике, 8 из 10 машин не проходят проверку. 
            li 
              .features-right__list-icon
                i(class="icon-ok")
              .features-right__cont
                h3 Поторгуемся за Вас!
                p С вероятностью 90% получите ощутимую скидку на покупку автомобиля засчет торга.
            li 
              .features-right__list-icon
                i(class="icon-ok")
              .features-right__cont
                h3 100% гарантия возврата средств
                p Возвращаем предоплату, если не найдем автомобиль по Вашим параметрам в установленные сроки. Можно продлить договор для дальнейшего поиска.
            li 
              .features-right__list-icon
                i(class="icon-ok")
              .features-right__cont
                h3 Снижение рисков
                p Мы хорошо знаем тонкости своей работы. Это позволяет нам не попадаться на серые автосалоны и  перекупщиков.



