.container-fluid.footer-cont.d-flex.justify-content-center.align-items-center 
  .container
    .row.d-flex.justify-content-center
      .col-xl-5.col-lg-5.col-md-12.col-sm-12.col-12.footer-desc.footer-logo.d-flex.flex-column.justify-content-start.align-items-start
        h3.footer-section-title О компании
        p.footer-section-desc AUTORIGHT.ru - это коллектив опытных специалистов, знающих своё дело. Мы постоянно развиваемся, а наша главная задача - оказать сервис высокого уровня, и обезопасить Вас от неудачной покупки автомобиля. Основное направление деятельности - подбор авто в СПб.
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-12.footer-desc.d-flex.flex-column.justify-content-start.align-items-start 
        h3.footer-section-title Информация
        ul.footer-info
          li.footer-info__item 
            a(href="#greetings").footer-info__item-link На главную
          li.footer-info__item  
            a(href="#howitworks").footer-info__item-link.footer-phones__media-link Что мы проверяем?
          li.footer-info__item  
            a(href="#features").footer-info__item-link Как это работает?
          li.footer-info__item  
            a(href="#services").footer-info__item-link Цены
          li.footer-info__item  
            a(href="#customers").footer-info__item-link Отзывы
      .col-xl-4.col-lg-4.col-md-6.col-sm-12.col-12.footer-desc.d-flex.flex-column.justify-content-start.align-items-start
        h3.footer-section-title Контакты
        a(href="tel:+79817554101").footer-contacts__phone +7 (981) 755 41 01
          i(class="footer-socials-icon whatsapp icon-whatsapp")
        ul.footer-contacts
          li.footer-contacts__item
            a(href="#").footer-contacts__item-link
              i(class="footer-socials-icon icon-vkontakte" style="font-size: 25px")
            a(href="#").footer-contacts__item-link
              i(class="footer-socials-icon icon-instagram" style="font-size: 25px") 



