header.header-wrapper
  .container.header-container
    .row.header-nav_container
      .header-logo.col-xs-2
        a.logo(href='http://td-invest.org/index.html') ООО ТЕХДОРИНВЕСТ
      include ../modules/nav
    .header-phone
      a.header-phone_link(href="telto") +7 (921) 921 75 44
