.container-fluid.header-container
  .row
    .header-logo.col-xl-3.col-lg-2.col-md-2.col-sm-6.col-12.d-flex.justify-content-center.align-items-center
      a(href="#greetings", style="text-decoration: none;").logo
        span.logo1 AUTO
        span.logo2 RIGHT.ru
    .header.col-xl-9.col-lg-10.col-md-10.col-sm-6.col-12
      .header-info
        .container
          .row.header-tablets
            .header-socials.col-xl-4.col-md-3.col-sm-4.d-flex.justify-content-end.align-items-center
              ul.header-socials__list
                li.header-socials__item 
                  a.header-socials__link(href="#")
                    i(class="header-socials-icon icon-instagram")
                li.header-socials__item 
                  a.header-socials__link(href="#")
                    i(class="header-socials-icon icon-vkontakte") 
            .header-worktime.col-xl-4.col-md-4.d-flex.justify-content-center.align-items-center
              i(class="clock icon-clock")
              .header-worktime__item Время работы - С 09 до 20
            .header-phone-cont.col-xl-4.col-md-5.col-sm-8.d-flex.justify-content-start.align-items-center 
              a.header-phone(href="tel:+79817554101") +7 (981) 755 41 01
                i(class="header-socials-icon whatsapp icon-whatsapp")
      include ../modules/nav

 
