.container-fluid.howitworks-cont(id="howitworks")
  img.img-fluid.howitworks-left__img(src="img/car2-min.png" alt="car 2")
  .container.howitworks-wrap
    .row
      .col-xl-12.text-center
        h2.howitworks-right__title Что проверяем?
    .row
      .col-xl-6.col-lg-7.col-md-7.col-sm-7.howitworks-left.d-flex.align-items-center.justify-content-center
        .howitworks-left__desc.col-md-12.col-sm-12
          h2.howitworks-left__new-tech.text-center Проверка автомобилей по 
            span 136 пунктам
          p.howitworks-left__desc-text
      .col-xl-6.col-lg-5.col-md-5.col-sm-5.howitworks-right
        .row
          .col-xl-12.col-lg-12.d-flex.align-items-center.justify-content-center
            .col-xl-8.col-lg-10
              .howitworks-right__cont
                .howitworks-right__line.jsDocs.js-line-active
                button(type="button" id="jsDocs").howitworks-right__tab.btn.btn-lg.btn-block.js-tab-active Документы
              .howitworks-right__cont
                .howitworks-right__line.jsBody
                button(type="button" id="jsBody").howitworks-right__tab.btn.btn-lg.btn-block Кузов
              .howitworks-right__cont
                .howitworks-right__line.jsEngine
                button(type="button" id="jsEngine").howitworks-right__tab.btn.btn-lg.btn-block Двигатель
              .howitworks-right__cont
                .howitworks-right__line.jsWheel
                button(type="button" id="jsWheel").howitworks-right__tab.btn.btn-lg.btn-block Ходовая
              .howitworks-right__cont
                .howitworks-right__line.jsBrake
                button(type="button" id="jsBrake").howitworks-right__tab.btn.btn-lg.btn-block Тормоза