.container-fluid.ourcustomers(id="customers")
  .container.d-flex.flex-column.justify-content-between
    .row
      .col-lg-12.text-center.ourcustomers-title
        h2 Наши работы
    .row.ourcustomers-slider__cont
      .col-lg-8.d-flex.justify-content-center
        .ourcustomers-slider__wrap.col-lg-12.d-flex.justify-content-center.align-items-center
          button.btn.ourcustomers-arrow.ourcustomers-arrow__left.js-slider-left
            i(class="icon-left-big")
          .ourcustomers-slider.d-flex
            .ourcustomers-items.d-flex.js-slider-items
              .ourcustomers-item.d-flex.justify-content-center.align-items-center
                img.img-fluid(src="img/cars/fordfocus-min.jpg", alt="pomosh v pokupke avto v spb ford focus (pushkapodbor)", oncontextmenu="return false;")
              .ourcustomers-item.d-flex.justify-content-center.align-items-center
                img.img-fluid(src="img/cars/mercedes-min.jpg", alt="podbor avtomobilya v spb mercedes w205 (pushkapodbor)", oncontextmenu="return false;")
              .ourcustomers-item.d-flex.justify-content-center.align-items-center
                img.img-fluid(src="img/cars/xtrail-min.jpg", alt="podbor avto v spb nissan xtrail (pushkapodbor)", oncontextmenu="return false;")
          button.btn.ourcustomers-arrow.ourcustomers-arrow__right.js-slider-right
            i(class="icon-right-big")
      .col-lg-4.slider-desc__cont
        .slider-desc.slide-desc-JS(style="color: black;") 
          .slider-title Клиент: 
            span.slider-text Алексей (Санкт - Петербург)
          .slider-title Автомобиль: 
            span.slider-text Ford Focus II 2010 г.в.
          .slider-title Пробег: 
            span.slider-text 106000км
          .slider-title Найден за: 
            span.slider-text 8 дней
          .slider-title Начальная цена: 
            span.slider-text 420000р
          .slider-title Плюсы: 
            span.slider-text Родной пробег, ухоженный салон
          .slider-title Минусы: 
            span.slider-text Водительская верь после покраски, сколы на капоте, присутствуют небольшая притертость на бампере
          .slider-title Куплен за: 
            span.slider-text 390000р
        .slider-desc.slide-desc-JS(style="color: black;") 
          .slider-title Клиент: 
            span.slider-text Антон (Санкт - Петербург)
          .slider-title Автомобиль: 
            span.slider-text Mercedes-Benz C-klasse IV (W205) 180 2015 г.в.
          .slider-title Пробег: 
            span.slider-text 31439км
          .slider-title Найден за: 
            span.slider-text 11 дней
          .slider-title Начальная цена: 
            span.slider-text 1735000 р
          .slider-title Плюсы: 
            span.slider-text Родной пробег, 1 владелец, без дтп
          .slider-title Минусы: 
            span.slider-text Царапина на заднем бампере
          .slider-title Куплен за: 
            span.slider-text 1700000р
        .slider-desc.slide-desc-JS(style="color: black;") 
          .slider-title Клиент: 
            span.slider-text Жанна (Санкт - Петербург)
          .slider-title Автомобиль: 
            span.slider-text Nissan X-Trail II Рестайлинг 2013 г.в.
          .slider-title Пробег: 
            span.slider-text 94000км
          .slider-title Найден за: 
            span.slider-text 5 дней
          .slider-title Начальная цена: 
            span.slider-text 980000р
          .slider-title Плюсы: 
            span.slider-text Родной пробег, ухоженный салон, 1 владелец, без крашеных элементов
          .slider-title Минусы: 
            span.slider-text Необходима замена рулевых наконечников и тормозных колодок
          .slider-title Куплен за: 
            span.slider-text 980000р