.container.ourworks-cont(id="services")
  .row
    .col-lg-12.ourworks-title.text-center
      h2 Наши услуги и цены
  .card-deck.col-lg-12
    .col-lg-4
      .card.ourworks-card
        .card-body
          img.img-thumbnail(src="img/1car-min.jpg", alt="Разовый выезд", oncontextmenu="return false;")
          h4.card-title.text-center.ourworks-card__title Разовый выезд
          p.card-text
            | Разовый выезд специалиста на один автомобиль по вашему выбору.
          button(type="button").btn.btn.ourworks-btn.js-popup-btn от 3 тыс руб
    .col-lg-4
      .card.ourworks-card
        .card-body
          img.img-thumbnail(src="img/1day-min.jpg", alt="Эксперт на день", oncontextmenu="return false;")
          h4.card-title.text-center.ourworks-card__title Эксперт на день
          p.card-text
            | Просмотр автомобилей в течение дня с одним из наших специалистов.
          button(type="button").btn.btn.ourworks-btn.js-popup-btn от 10 тыс руб
    .col-lg-4
      .card.ourworks-card
        .card-body
          img.img-thumbnail(src="img/all-inclusive-min.jpg", alt="Подбор под ключ", oncontextmenu="return false;")
          h4.card-title.text-center.ourworks-card__title Подбор под ключ
          p.card-text
            | Поиск автомобиля под ключ по вашим параметрам.
          button(type="button").btn.ourworks-btn.js-popup-btn от 23 тыс руб

