html(lang="ru")
  head
    meta(charset="UTF-8")
    title ООО ТЕХДОРИНВЕСТ - СТРОИТЕЛЬСТВО И ОСБСЛУЖИВАНИЕ ДОРОГ
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="img/autoright.png")
    link(rel="stylesheet", href="../../../css/libs.min.css")
    link(rel="stylesheet", href="../../../css/main.css")
  body.body
    .wrapper
      include ../catalog-blocks/header
      .dor-ogr.dor-ogr_wrap.section.section-margin
        .container.catalog-cont 
          .row.catalog-title_cont
            .col-xs-12
              h1.dor-ogr_title Дорожные ограждения
          .row.catalog-goods_cont
            .col-xs-12
              ul.dor-ogr_list 
                li.dor-ogr_item 
                  a(href="dor-1.html").dor-ogr_link Дорожные двухсторонние ограждения барьерного типа
                li.dor-ogr_item 
                  a(href="dor-2.html").dor-ogr_link Дорожные односторонние ограждения барьерного типа
                li.dor-ogr_item 
                  a(href="elements.html").dor-ogr_link Элементы барьерного ограждения
                li.dor-ogr_item 
                  a(href="ograzhdeniya.html").dor-ogr_link Ограждения из пластика
    script(src="../../../js/libs.min.js") 
    script(src="../../../js/bundle.js")