@import "../misc/functions";
@import "../misc/media";
@import "../misc/mixins";
@import "../misc/variables";


@for $i from 0 through 13 {
    .goods-item_icon#{$i} {
        background: url('../img/goods_icon/cat#{$i}.png') center center no-repeat $green;
    }
}

.goods {
    &-cont {
        display: flex;
        justify-content: space-between;
        @include laptop {
            justify-content: space-around;
        }
        @include phones {
            justify-content: center;
        }
    }
    &-item {
        position: relative;
        margin-bottom: rem(20px);
        &:hover .goods-item_icon {
            background-color: $darkgreen;
        }
        &:hover .goods-item_link {
            color: $darkgreen;
        }
        &_link {
            font-size: rem(20px);
            transition: all .3s;
            position: relative;
            overflow: hidden;
            font-family: $fira;
            color: $gray;
            text-transform: uppercase;
            font-weight: bold;
            @include laptop {
                max-width: 215px;
                display: flex;
                justify-content: start;
            }
        }
    }
    &-item:before {
        margin-right: 10px;

    }
    &-item_icon {
        display: inline-block;
        width: 44px;
        transition: all .3s;
        height: 44px;

        border-radius: 5px;
        position: absolute;
        top:0;
        left: -60px;
        @include laptop {
        }
    }
}

