html(lang="ru")
  head
    meta(charset="UTF-8")
    title ООО ТЕХДОРИНВЕСТ - СТРОИТЕЛЬСТВО И ОСБСЛУЖИВАНИЕ ДОРОГ
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="../../../fav.png")
    link(rel="stylesheet", href="../../../css/libs.min.css")
    link(rel="stylesheet", href="../../../css/main.css")
  body.body
    .wrapper
      include ../../../pug/blocks/header
      .avtopaviloni_A070.avtopaviloni_A070_wrap.section.section-margin
        .container.catalog-cont 
          .row.catalog-title_cont
            .col-xs-12
              h1.catalog-title Автопавильоны Серия А070
          .row
            .col-xs-12
              - const avtopaviloni_A070 = [{desc: 'Остановочный автопавильон А070-ОТ-Ц-Р- 3.1м'},{desc:'Остановочный автопавильон А071-ОТ-Ц-Р- 3.1м'},{desc:'Остановочный автопавильон А072-ЗТ-Ц-Р- 3.1м'},{desc:'Остановочный автопавильон А072-ОТ-Ц-Р- 3.1м'}]
              .row
                each val, index in avtopaviloni_A070
                  .col-lg-3.col-xs-12.catalog-card_wrap
                    .card.catalog-card
                      .card-body.catalog-card_body-cont 
                        img.catalog-card_img(src=`../../../img/catalog/avtopaviloni/avtopaviloni_A070/${index + 1}.jpg`)
                      .card-footer.catalog-card_footer-cont= `${val.desc}`
      footer.footer
        include ../../../pug/blocks/footer
    script(src="../../../js/libs.min.js") 
    script(src="../../../js/bundle.js")