.container.contacts-cont 
  .row.contacts-title_cont
    .col-xs-12
      h1.contacts-title Контакты
  .row
    .col-lg-8
      .contacts-img
    .col-lg-4.contacts-info
      ul.contacts-list
        li.contacts-item 
          h5 ООО «Дорожные Cистемы» 
        li.contacts-item Адрес: 195027, Санкт-Петербург, ул. 
        li.contacts-item Магнитогорская, д. 51, литер Ж, офис 342 
        li.contacts-item 
          a(href="tel: +79817338484") Тел.: +7 (981) 999-99-99
        li.contacts-item Факс: +7 (812) 220-22-14
        li.contacts-item 
          a(href="mailto: info@111.ru ") E-mail:info@td-invest.org 