.container.contacts-cont 
  .row.contacts-title_cont
    .col-xs-12
      h1.contacts-title Документы
  .row.docs-desktop_cont
    .col-xs-12
      nav.docs-files
        #nav-tab.nav.nav-tabs(role='tablist')
          a#nav-gost1-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-gost1', role='tab', aria-controls='nav-gost1', aria-selected='true') ГОСТ Р 50971-96
          a#nav-gost2-tab.nav-item.nav-link(data-toggle='tab', href='#nav-gost2', role='tab', aria-controls='nav-gost2', aria-selected='false') ГОСТ 8281-80
          a#nav-gost3-tab.nav-item.nav-link(data-toggle='tab', href='#nav-gost3', role='tab', aria-controls='nav-gost3', aria-selected='false') ГОСТ 8282-83
          a#nav-gost4-tab.nav-item.nav-link(data-toggle='tab', href='#nav-gost4', role='tab', aria-controls='nav-gost4', aria-selected='false') ГОСТ 2771-81
          a#nav-gost5-tab.nav-item.nav-link(data-toggle='tab', href='#nav-gost5', role='tab', aria-controls='nav-gost5', aria-selected='false') ГОСТ 27772-88
          a#nav-gost6-tab.nav-item.nav-link(data-toggle='tab', href='#nav-gost6', role='tab', aria-controls='nav-gost6', aria-selected='false') ГОСТ 9.307-89
        #nav-tab.tab-content.docs-desktop_tab-cont
          #nav-gost1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-gost1-tab') 
            object 
              embed.docs-file_item(src='../pdf/1.pdf')
          #nav-gost2.tab-pane.fade(role='tabpanel', aria-labelledby='nav-gost2-tab') 
            object
              embed.docs-file_item(src='../pdf/2.pdf')
          #nav-gost3.tab-pane.fade(role='tabpanel', aria-labelledby='nav-gost3-tab') 
            object
              embed.docs-file_item(src='../pdf/3.pdf')
          #nav-gost4.tab-pane.fade(role='tabpanel', aria-labelledby='nav-gost4-tab') 
            object
              embed.docs-file_item(src='../pdf/4.pdf')
          #nav-gost5.tab-pane.fade(role='tabpanel', aria-labelledby='nav-gost5-tab') 
            object
              embed.docs-file_item(src='../pdf/5.pdf')
          #nav-gost6.tab-pane.fade(role='tabpanel', aria-labelledby='nav-gost6-tab') 
            object
              embed.docs-file_item(src='../pdf/6.pdf')
      .docs-mobile
        ul.docs-mobile_list
          li.docs-mobile_item 
            h5 ГОСТ Р 50971-96
            a.docs-mobile_link(href='../pdf/1.pdf' download="ГОСТ Р 50971-96") скачать
          li.docs-mobile_item 
            h5 ГОСТ 8281-80
            a.docs-mobile_link(href='../pdf/2.pdf' download="ГОСТ 8281-80") скачать
          li.docs-mobile_item 
            h5 ГОСТ 8282-83
            a.docs-mobile_link(href='../pdf/3.pdf' download="ГОСТ 8282-83") скачать
          li.docs-mobile_item 
            h5 ГОСТ 2771-81
            a.docs-mobile_link(href='../pdf/4.pdf' download="ГОСТ 2771-81") скачать
          li.docs-mobile_item 
            h5 ГОСТ 27772-88
            a.docs-mobile_link(href='../pdf/5.pdf' download="ГОСТ 27772-88") скачать
          li.docs-mobile_item 
            h5 ГОСТ 9.307-89
            a.docs-mobile_link(href='../pdf/6.pdf' download="asdasd") скачать