.container.main-container
  .row.main-title_cont
    .col-xs-12
      h1.main-title О компании
  .row
    .col-xs-12
      p.main-desc Компания «Дорожные Системы» является ведущим предприятием в области производства и монтажа металлических дорожных и мостовых ограждений барьерного типа, опор освещения, дорожных знаков, автопавильонов и других конструкций из металла. Компания сотрудничает с большим количеством организаций, осуществляющих деятельность в сфере строительства и благоустройства дорог, как в Российской Федерации, так и за рубежом.
  .row
    .col-lg-4
      p.main-guarantee 
        span.main-guarantee_years 15 
        span.main-guarantee_desc  Лет арантируемый срок службы оцинкованных барьерных ограждений составляет
    .col-lg-2
    .col-lg-2
      img(src="../img/other/prod.png")
    .col-lg-4
      h2.main-advantages Дорожное мостовое барьерное ограждение
      p.main-advantages_desc Предприятие имеет крупные производственные мощности, которые способны выполнить любые объемы заказов в кратчайшие сроки. Штат высококвалифицированных сотрудников Компании позволяет выпускать не только стандартные изделия согласно ГОСТ, но и выполнять особые проекты.