.col-xs-4
    ul.header-goods_list
        li.header-goods_item
            a.header-goods_item-link(href="") Дорожные ограждения
        li.header-goods_item
            a.header-goods_item-link(href="") Автопавильоны
        li.header-goods_item
            a.header-goods_item-link(href="") Фундаменты
        li.header-goods_item
            a.header-goods_item-link(href="") Емкости для хранения
        li.header-goods_item
            a.header-goods_item-link(href="") Краска для дорожной разметки
.col-xs-4
    ul.header-goods_list
        li.header-goods_item
            a.header-goods_item-link(href="") Мостовые ограждения
        li.header-goods_item
            a.header-goods_item-link(href="") Дорожные знаки
        li.header-goods_item
            a.header-goods_item-link(href="") Оборудование навесное
        li.header-goods_item
            a.header-goods_item-link(href="") Производственное оборудование
        li.header-goods_item
            a.header-goods_item-link(href="") Битум
.col-xs-4
    ul.header-goods_list
        li.header-goods_item
            a.header-goods_item-link(href="") Опоры освещения
        li.header-goods_item
            a.header-goods_item-link(href="") Гофрированные трубы
        li.header-goods_item
            a.header-goods_item-link(href="") Кронштейны
        li.header-goods_item
          a.header-goods_item-link(href="") Рамные конструкции