.container-fluid.nav-cont
  .row
    .col-lg-12
      nav.nav-main.d-flex.justify-content-center
        ul.nav.nav-list
          li.nav-item
            a.nav-link.active(href='#greetings') главная
          li.nav-item
            a.nav-link(href='#howitworks') что проверяем
          li.nav-item
            a.nav-link(href='#features') как работаем
          li.nav-item
            a.nav-link(href='#services') услуги
          li.nav-item
            a.nav-link(href='#customers') работы
        button(type="button").nav-btn.btn.js-popup-btn Заказать подбор 
  