.nav.col-xs-6
  .container-fluid.nav-cont
    .row
      .col-lg-12
        nav.nav-main.d-flex.justify-content-center
          ul.nav.nav-list
            li.nav-item
              a.nav-link.active(href='../index.html') Главная
            li.nav-item
              a.nav-link(href='../pages/about.html') О компании
            li.nav-item
              a.nav-link(href='../pages/news.html') Новости 
            li.nav-item
              a.nav-link(href='../pages/catalog.html') Каталог
            li.nav-item
              a.nav-link(href='../pages/docs.html') Документы
            li.nav-item
              a.nav-link(href='../pages/contacts.html') Контакты