$rob: 'russo',
Helvetica,
sans-serif;
$fira: 'firaR',
Helvetica,
sans-serif;

$black: rgba(22, 22, 22, 1);
$blackT: rgba(0, 0, 0, .4);
$blackTT: rgba(0, 0, 0, .8);
$orange: rgba(236, 75, 83, 1);
$white: white;
$gray: hsla(0, 0%, 37%, 1);
$green: #6ca;

$logo_big: rem(30px);
$logo_med: rem(25px);
$logo_small: rem(20px);

$padding5: rem(5px);
$padding10: rem(10px);
$padding15: rem(15px);
$padding20: rem(20px);
$padding100: rem(100px);
$margin: rem(5px);
$margin10: rem(10px);
$margin15: rem(15px);
$margin25: rem(25px);

$btnclip: polygon(10% 0, 99% 0, 90% 100%, 0% 100%);


