html(lang="ru")
  head
    meta(charset="UTF-8")
    title ООО ТЕХДОРИНВЕСТ - СТРОИТЕЛЬСТВО И ОСБСЛУЖИВАНИЕ ДОРОГ
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="img/autoright.png")
    link(rel="stylesheet", href="../../../css/libs.min.css")
    link(rel="stylesheet", href="../../../css/main.css")
  body.body
    .wrapper
      include ../catalog-blocks/header
      .kronshteini.kronshteini_wrap.section.section-margin
        .container.catalog-cont 
          .row.catalog-title_cont
            .col-xs-12
              h1.catalog_title Кронштейны
              p.catalog_desc Кронштейн металлический предназначен для установки на опоры освещения разного типа. Кронштейны для светильников представлены в огромном разнообразии для того, чтобы сделать возможным размещение источника света относительно поверхности совершенно под любым углом, в зависимости от требуемых параметров
          .row.catalog-goods_cont
            .col-xs-12
              - var kronshteini = [{desc: 'Кронштейны - "Флагман"'},{desc: 'Кронштейны Т-образные'},{desc: 'Кронштейны четырехрожковые'},{desc: 'Кронштейны трехрожковые'},{desc: 'Кронштейны двухрожковые'},{desc: 'Кронштейны однорожковые'}]
              .row
                each val, index in kronshteini
                  .col-lg-3.col-xs-12.catalog-card_wrap
                    .card.catalog-card
                      .card-body.catalog-card_body-cont 
                        img.catalog-card_img(src=`../../../img/catalog/kronshteini/${index + 1}.jpg`)
                      .card-footer.catalog-card_footer-cont= `${val.desc}`
    script(src="../../../js/libs.min.js") 
    script(src="../../../js/bundle.js")