.container-fluid
  .container.footer-cont
    .row.footer-cont_contacts
      .col-lg-2.footer-nav
        ul.footer-nav
          li.footer-nav_item
            a.footer-nav_link(href="").footer-nav_about О компании
          li.footer-nav_item
            a.footer-nav_link(href="").footer-nav_news Новости
          li.footer-nav_item
            a.footer-nav_link(href="").footer-nav_docs Документы
          li.footer-nav_item
            a.footer-nav_link(href="").footer-nav_to-main Главная
      .col-lg-3.footer-links
        ul.footer-links_list
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_phone Дорожные ограждения
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_email Автопавильоны
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_adress Фундаменты
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_adress Емкости для хранения
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_adress Краска для дорожной разметки
      .col-lg-3.footer-links
        ul.footer-links_list
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_phone Мостовые ограждения
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_email Дорожные знаки
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_adress Оборудование навесное
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_adress Производственное оборудование
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_adress Битум
      .col-lg-2.footer-links
        ul.footer-links_list
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_phone Опоры освещения
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_email Гофрированные трубы
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_adress Кронштейны
          li.footer-links_item
            a.footer-links_link(href="").footer-contacts_adress Рамные конструкции
      .col-lg-2.footer-contacts
        ul.footer-contacts_list
          li.footer-contacts_item
            a.footer-contacts_link(href="").footer-contacts_phone 8-999-989-99-19
          li.footer-contacts_item
            a.footer-contacts_link(href="").footer-contacts_email contact@tehdor-invest.org
          li.footer-contacts_item
            a.footer-contacts_link(href="").footer-contacts_adress Санкт - Петербург
    .row.footer-rules
      .col-lg-12.footer-rules_cont
        p.footer-rules_text Все материалы являются собственностью компании. Копирование запрещено
        p.footer-rules_company ООО "ТехДорИнвест" 2019