@import "../misc/functions";
@import "../misc/media";
@import "../misc/mixins";
@import "../misc/variables";

.catalog-card {
  transition: all .4s;
  box-shadow: 7px 9px 12px -8px $gray;
  color: $white;
  width: 100%;
  &:hover {
    transform: translateY(-20px);
    z-index: 1;
  }
  &_img {
    height: 200px;
    max-width: 100%;
    object-fit: contain;
    padding: rem(10px);
  }
  &_wrap {
    margin: rem(10px) 0;
    min-width: rem(290px);
  }
  &_body-cont{
    @include flex();
  }
  &_footer-cont {
    background-color: $green;
  }
}